body {
margin: 0;
padding: 0;
font-family: helvetica;
background-color: #055a5b;
/*167c80, 2c3979*/
}

h1, h2, h3, p {
  margin:0;
  padding:0;
}

h2 {
  padding-bottom: 13px;
}

header {
  padding-top: 20px;
  height: 90px;
  /*background-color: grey;*/
  /*padding-left: 70px;
  padding-right: 70px;*/
  margin: 0 auto;
  border-bottom: 5px solid #ffdead;
  overflow: hidden;
}

nav {
  float:right;
  margin: 0 auto;
  padding-top: 22px;
  display: flex;
  flex-direction: row;

  /*border: 7px solid blue;*/
}

@media (max-width: 1097px) {
  nav {display: none;}
}

  nav a{
    text-decoration: none;
    color: white;
    margin-right: 18px;
  }


.logo {
  float: left;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: row;
  /*border: 5px solid red;*/
}

.logo-art {
  padding-right: 8px;
  height: 70px;
  color: white;
}

.logo-text {
  padding-top: 20px;
  font-weight: lighter;
}

@media (max-width: 568px) {
  .logo {
    font-size: 18px;
  }

  .logo-art {
    height: 50px;
  }
}

@media (max-width: 320px) {
  .logo {
    font-size: 14px;
  }

  .logo-art {
    height: 37px;
  }

}

.wrapper {
  width: 90%;
  margin: 0 auto;
  height: 1500px;
}

.wrapper2 {
  width: 90%;
  margin: 0 auto;
  height: 1000px;
}


.top {
  min-height: 365px;
  /*background-color: coral;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  /*border: 7px solid red;*/
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .top {
        display: flex;
        flex-direction: row;


    }
}

 .event-notice {
  background-image: url(/assets/images/islam.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;
  background-color: rgba(0,0,0,.7);
  background-blend-mode: multiply;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }

 .event-notice h2 {
   font-size: 60px;
   font-weight: bolder;
   color: #faebd7;
 }

 .event-name {
   color: white;
   font-size: 60px;
   font-weight: bolder;
 }

 .prayer-times {
  /*background-color: pink;*/
  margin-left: 20px;
 }

 @media only screen and (max-width: 881px) {
     .event-notice {

     }

     .event-notice h2 {
        font-size: 40px;

     }

     .event-name {
       color: white;
       font-size: 40px;
       font-weight: bolder;
     }

 }

  @media only screen and (max-width: 600px) {
    .event-notice {
      padding: 10px;
      width: 0 auto;
      margin-right: 10px;
      padding-top: 100px;

    }

    .event-notice h2 {
       font-size: 16px;
       font-weight: bold;


    }

    .event-name {
      color: white;
      font-size: 16px;
      font-weight: bold;
    }

    .prayer-times {
     /*background-color: pink;*/
     margin-left: 0;
    }

  }




 main {
   min-height: 550px;
   padding: 70px;
   background-color: #ffd494;
   color: #4a4a4a;
   font-weight: lighter;
   font-size: 20px;
   margin-top: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   overflow: hidden;
 }


.service > img{
  padding-bottom: 10px;
}

.service p{
  font-size: 20px;
  font-weight: bold;
}

 .services-wrap {
   display: flex;
   flex-direction: row;
   text-align: center;
   justify-content: space-around;
   padding-top: 70px;
   padding-bottom: 70px;
   /*border: 7px solid red;*/
 }

 .project-more {
   text-align: center;
   color: #4a4a4a;
   font-weight: 200;
   font-size: 14px;
   display: block;
   padding-top: 20px;
 }

 .donate-btn {
   margin: 0 auto;
   background-color: #17a589;
   color: white;
   font-weight: 400;
   display: block;
   border-radius: 3px;
   border: none;
   padding: 15px 32px;
   font-size: 17px;
   font-weight: bold;
   cursor: pointer;
 }

 .donate-btn-nav {
   padding: 5px 7px 5px 7px;
   background-color: #17a589;
   color: white;
   font-weight: 400;
   display: block;
   border-radius: 3px;
   border: none;
   /*padding: 0px 15px;*/
   font-size: 17px;
   font-weight: bold;
   cursor: pointer;
 }

 .svg {
   height: 180px;
 }

 .updates {
   min-height: 90px;
   background-color: #589ea0;
   color: white;
   padding: 70px;
   margin: 20px 0 20px 0;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   overflow: hidden;
 }

.contact {
  background-color: #2f4f4f;
  min-height: 170px;
  color: white;
  text-align: center;
  font-weight: lighter;
  padding-top: 85px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.nav-btn {
  padding-top: 6px;
}

/* Donations */
.donate-info {
   height: 100px;
   padding: 35px;
 }

.donate-info p:first-child {
    margin-bottom: 7px;
  }

.donate-info p:last-child {
   background-color: white;
   box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.05);
   padding: 10px;
   color: #4a4a4a;
   margin-top: 7px;
 }

.pay-methods {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 17px;
}

.paypal {
  padding: 20px;
  margin-right: 20px;
  background-color: white;
  height: 250px;
  width: 50%;
  color: #4a4a4a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.05);
}

.bank-transfers {
  padding: 20px;
  background-color: #4a4a4a;
  height: 250px;
  width: 50%;
  color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.05);
}

/* side nav */
.side-nav {
  height: 100%;
  width: 0;
  float: right;
  position:fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 30px 10px 10px;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
  text-align: right;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  left: 22px;
  font-size: 36px;
  margin-right: 50px;
}

.open-slide {
  float: right;
  padding-top: 30px;
  color: white;
}

.open-slide a:link {
  color: white;
}

.open-slide a:visited {
  color: white;
}

.open-slide a:hover {
  color: white;
}

.open-slide a:active {
  color: white;
}

@media (min-width: 1097px) {
  .open-slide {
    display: none;
  }
}

@media (max-width: 1097px) {
  .open-slide {
    padding-top: 22px;
    padding-right: 5px;
  }
}
